h1 {
  text-align: center;
}

.result {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
